In [ ]:
import numpy as np
import pandas as pd

## Serijos

In [ ]:
pavadinimai = ['x', 'y', 'z']
duomenys = [20, 30, 40]
serija1 = pd.Series(data=duomenys, index=pavadinimai)
serija1

In [ ]:
zodynas = {'a': 5, 'b': 7, 'c': 9, 'd': 11}
serija2 = pd.Series(zodynas)
serija2

In [ ]:
miestai = pd.Series([1,2,3,4,5], ['Vilnius', 'Kaunas', 'Klaipėda', 'Panevezys', 'Šiauliai'])
miestai

In [ ]:
miestai2 = pd.Series([1,2,3,4,5], ['Vilnius', 'Kaunas', 'Lentvaris', 'Šiauliai', 'Klaipėda'])
miestai2

In [ ]:
miestai + miestai2

## DataFrames

In [14]:
df1 = pd.DataFrame(np.random.rand(5,6), 
                   ['a', 'b', 'c', 'd', 'e'],
                   ['U', 'V', 'W', 'X', 'Y', 'Z']
)
df1

          U         V         W         X         Y         Z
a  0.354184  0.242149  0.521827  0.813850  0.842681  0.462119
b  0.891391  0.667592  0.855768  0.747718  0.999300  0.995674
c  0.784294  0.573606  0.859910  0.591285  0.036777  0.081550
d  0.005657  0.136350  0.540526  0.846217  0.258937  0.459018
e  0.640683  0.187444  0.053144  0.857582  0.533479  0.263298

In [15]:
df1['U']

a    0.354184
b    0.891391
c    0.784294
d    0.005657
e    0.640683
Name: U, dtype: float64

In [23]:
type(df1['U'])

pandas.core.series.Series

In [24]:
df1.loc['a']

U    0.354184
V    0.242149
W    0.521827
X    0.813850
Y    0.842681
Z    0.462119
Name: a, dtype: float64

In [25]:
type(df1.loc['a'])

pandas.core.series.Series

In [26]:
df1[['U', 'X', 'Z']]

          U         X         Z
a  0.354184  0.813850  0.462119
b  0.891391  0.747718  0.995674
c  0.784294  0.591285  0.081550
d  0.005657  0.846217  0.459018
e  0.640683  0.857582  0.263298

In [28]:
df1['naujas'] = [1, 2, 3, 4, 5]
df1

          U         V         W         X         Y         Z  naujas
a  0.354184  0.242149  0.521827  0.813850  0.842681  0.462119       1
b  0.891391  0.667592  0.855768  0.747718  0.999300  0.995674       2
c  0.784294  0.573606  0.859910  0.591285  0.036777  0.081550       3
d  0.005657  0.136350  0.540526  0.846217  0.258937  0.459018       4
e  0.640683  0.187444  0.053144  0.857582  0.533479  0.263298       5

In [ ]:
df1.drop('naujas', axis=1)