In [1]:
import numpy as np
import pandas as pd

In [3]:
html = pd.read_html('https://work.studentnews.eu/s/3695/75547-European-countries-the-table-language-population-capital-currency-phone-code-internet-code.htm')
html[1].head()

,Staat,Official languages,Population,Capital,Currency,Phone,Int.
0,Austria,German,8.4 million,Vienna,euro (EUR),43,.at
1,Belgium,"Dutch (north), French (south), German",11 million,Brussels,euro (EUR),32,.be
2,Bulgaria,Bulgarian,7 million,Sofia,Bulgarian lev (BGN),359,.bg
3,Croatia,Croatian,4.3 million,Zagreb,Croatian kuna (HRK),385,.hr
4,Cyprus,"Greek, Turkish",800 000,Nicosia,euro (EUR),357,.cy

In [8]:
data = pd.read_html('https://lt.wikipedia.org/wiki/S%C4%85ra%C5%A1as:Lietuvos_miestai_pagal_gyventojus')
data[0].columns

Index(['EilÄ—', 'Miestas', '2020Â m.', '2019 m.', '2011Â m.', '2001Â m.',
       '1989Â m.', '1979Â m.', '1970Â m.', '1959Â m.', '1923Â m.', '1897Â m.',
       'Tankumas (2019)'],
      dtype='object')

In [14]:
data[0][data[0].columns[3]]

0      541212
1      286754
2      147892
3      100131
4       87139
        ...
98        559
99        527
100       417
101       377
102       204
Name: 2019 m., Length: 103, dtype: int64

In [21]:
data[0].columns.values

array(['EilÄ—', 'Miestas', '2020\xa0m.', '2019 m.', '2011\xa0m.',
       '2001\xa0m.', '1989\xa0m.', '1979\xa0m.', '1970\xa0m.',
       '1959\xa0m.', '1923\xa0m.', '1897\xa0m.', 'Tankumas (2019)'],
      dtype=object)

In [27]:
'\U0001F389'

'ðŸŽ‰'