In [2]:
import numpy as np
import pandas as pd
top50 = pd.read_csv('top50.csv', encoding='ISO-8859-1')
top50.head()

,Unnamed: 0,Track.Name,Artist.Name,Genre,Beats.Per.Minute,Energy,Danceability,Loudness..dB..,Liveness,Valence.,Length.,Acousticness..,Speechiness.,Popularity
0,1,Seï¿½orita,Shawn Mendes,canadian pop,117,55,76,-6,8,75,191,4,3,79
1,2,China,Anuel AA,reggaeton flow,105,81,79,-4,8,61,302,8,9,92
2,3,boyfriend (with Social House),Ariana Grande,dance pop,190,80,40,-4,16,70,186,12,46,85
3,4,Beautiful People (feat. Khalid),Ed Sheeran,pop,93,65,64,-8,8,55,198,12,19,86
4,5,Goodbyes (Feat. Young Thug),Post Malone,dfw rap,150,65,58,-4,11,18,175,45,7,94

In [3]:
top50['Genre'].unique()

array(['canadian pop', 'reggaeton flow', 'dance pop', 'pop', 'dfw rap',
       'trap music', 'country rap', 'electropop', 'reggaeton',
       'panamanian pop', 'canadian hip hop', 'latin', 'escape room',
       'pop house', 'australian pop', 'edm', 'atl hip hop', 'big room',
       'boy band', 'r&b en espanol', 'brostep'], dtype=object)

In [4]:
top50['Genre'].nunique()

21

In [5]:
top50['Genre'].value_counts()

dance pop           8
pop                 7
latin               5
canadian hip hop    3
edm                 3
reggaeton           2
reggaeton flow      2
panamanian pop      2
canadian pop        2
electropop          2
country rap         2
dfw rap             2
brostep             2
trap music          1
escape room         1
pop house           1
australian pop      1
atl hip hop         1
big room            1
boy band            1
r&b en espanol      1
Name: Genre, dtype: int64

In [6]:
top50['Length.'].sum()

10048

In [7]:
def minutes_seconds(secs):
    minutes = secs // 60
    seconds = secs % 60
    return f'{minutes}:{seconds:02d}'

print(minutes_seconds(66))

1:06

In [8]:
top50['Length.'].apply(minutes_seconds).head()

0    3:11
1    5:02
2    3:06
3    3:18
4    2:55
Name: Length., dtype: object

In [9]:
top50['Length.Pretty'] = top50['Length.'].apply(minutes_seconds)
top50[10:15]

,Unnamed: 0,Track.Name,Artist.Name,Genre,Beats.Per.Minute,Energy,Danceability,Loudness..dB..,Liveness,Valence.,Length.,Acousticness..,Speechiness.,Popularity,Length.Pretty
10,11,Callaita,Bad Bunny,reggaeton,176,62,61,-5,24,24,251,60,31,93,4:11
11,12,Loco Contigo (feat. J. Balvin & Tyga),DJ Snake,dance pop,96,71,82,-4,15,38,185,28,7,86,3:05
12,13,Someone You Loved,Lewis Capaldi,pop,110,41,50,-6,11,45,182,75,3,88,3:02
13,14,Otro Trago - Remix,Sech,panamanian pop,176,79,73,-2,6,76,288,7,20,87,4:48
14,15,Money In The Grave (Drake ft. Rick Ross),Drake,canadian hip hop,101,50,83,-4,12,10,205,10,5,92,3:25

In [10]:
top50['Energy'].apply(lambda x: round(x/10))[7:13]

7     7
8     6
9     4
10    6
11    7
12    4
Name: Energy, dtype: int64

In [11]:
top50.columns

Index(['Unnamed: 0', 'Track.Name', 'Artist.Name', 'Genre', 'Beats.Per.Minute',
       'Energy', 'Danceability', 'Loudness..dB..', 'Liveness', 'Valence.',
       'Length.', 'Acousticness..', 'Speechiness.', 'Popularity',
       'Length.Pretty'],
      dtype='object')

In [12]:
top50.index

RangeIndex(start=0, stop=50, step=1)

In [13]:
top50.shape

(50, 15)

In [14]:
top50.sort_values('Energy', ascending=False).tail()

,Unnamed: 0,Track.Name,Artist.Name,Genre,Beats.Per.Minute,Energy,Danceability,Loudness..dB..,Liveness,Valence.,Length.,Acousticness..,Speechiness.,Popularity,Length.Pretty
12,13,Someone You Loved,Lewis Capaldi,pop,110,41,50,-6,11,45,182,75,3,88,3:02
43,44,Talk,Khalid,pop,136,40,90,-9,6,35,198,5,13,84,3:18
42,43,Shallow,Lady Gaga,dance pop,96,39,57,-6,23,32,216,37,3,87,3:36
18,19,Lalala,Y2K,canadian hip hop,130,39,84,-8,14,50,161,18,8,88,2:41
31,32,7 rings,Ariana Grande,dance pop,140,32,78,-11,9,33,179,59,33,89,2:59

In [15]:
top50e = top50.sort_values('Energy', ascending=False)
top50e.head()

,Unnamed: 0,Track.Name,Artist.Name,Genre,Beats.Per.Minute,Energy,Danceability,Loudness..dB..,Liveness,Valence.,Length.,Acousticness..,Speechiness.,Popularity,Length.Pretty
34,35,Never Really Over,Katy Perry,dance pop,100,88,77,-5,32,39,224,19,6,89,3:44
28,29,Con Calma,Daddy Yankee,latin,94,86,74,-3,6,66,193,11,6,91,3:13
25,26,If I Can't Have You,Shawn Mendes,canadian pop,124,82,69,-4,13,87,191,49,6,70,3:11
37,38,Antisocial (with Travis Scott),Ed Sheeran,pop,152,82,72,-5,36,91,162,13,5,87,2:42
1,2,China,Anuel AA,reggaeton flow,105,81,79,-4,8,61,302,8,9,92,5:02

In [16]:
top50e.to_csv("energy50.csv")

In [17]:
top50e.to_html("e50.html")

In [18]:
top50e.to_excel("e50.xlsx")

In [19]:
vilnius = pd.read_html('https://lt.wikipedia.org/wiki/Vilniaus_miesto_savivaldyb%C4%97')
vilnius

[   Vilniaus miesto savivaldybė        Vilniaus miesto savivaldybė.1
 0                          NaN                                  NaN
 1                          NaN                                  NaN
 2                          NaN                                  NaN
 3                          NaN                                  NaN
 4                          NaN                                  NaN
 5                          NaN                                  NaN
 6                     Valstybė                              Lietuva
 7                    Apskritis                   Vilniaus apskritis
 8      Administracinis centras                              Vilnius
 9           Seniūnijų skaičius                                   21
 10                Įkūrimo data                              1995 m.
 11                       Meras           Remigijus Šimašius (2019–)
 12                         NaN                                  NaN
 13                   Gyventojų                           556 490[1]
 14                      Plotas                              401 km²
 15                    Tankumas                        1 388 žm./km²
 16           Aukščiausia vieta          230,7 m (Rokantiškių kalva)
 17                         NaN                                  NaN
 18                 Tinklalapis                           vilnius.lt
 19                    Vikiteka  Vilniaus miesto savivaldybėVikiteka,
                                                     0  \
 0   Ž • A • RVilniaus miesto savivaldybės saugomos...
 1   Ž • A • RVilniaus miesto savivaldybės saugomos...
 2                                                 NaN
 3                             Valstybiniai rezervatai
 4                                                 NaN
 5                                  Regioniniai parkai
 6                                                 NaN
 7                            Valstybiniai draustiniai
 8                                                 NaN
 9                            Savivaldybės draustiniai
 10                                                NaN
 11                                   Gamtos paminklai
 12                                                NaN
 13               Valstybiniai gamtos paveldo objektai
 14                                                NaN
 15               Savivaldybės gamtos paveldo objektai

                                                     1
 0                                                 NaN
 1   Ž • A • RVilniaus miesto savivaldybės saugomos...
 2                                                 NaN
 3                Vilniaus pilių kultūrinis rezervatas
 4                                                 NaN
 5   Pavilnių regioninis parkas • Verkių regioninis...
 6                                                 NaN
 7   Dvarčionių geomorfologinis • Griovių geomorfol...
 8                                                 NaN
 9   Aukštagirio geomorfologinis • Cedrono aukštupi...
 10                                                NaN
 11  Plikakalnio atodanga • Pūčkorių atodanga • Šeš...
 12                                                NaN
 13              Aukštųjų Panerių geležinkelio tunelis
 14                                                NaN
 15  Antakalnio parko kedrinė pušis • Aštuonių klev...  ,
    Ž • A • RVilniaus miesto savivaldybės saugomos teritorijos  \
 0                                                 NaN
 1                             Valstybiniai rezervatai
 2                                                 NaN
 3                                  Regioniniai parkai
 4                                                 NaN
 5                            Valstybiniai draustiniai
 6                                                 NaN
 7                            Savivaldybės draustiniai
 8                                                 NaN
 9                                    Gamtos paminklai
 10                                                NaN
 11               Valstybiniai gamtos paveldo objektai
 12                                                NaN
 13               Savivaldybės gamtos paveldo objektai

    Ž • A • RVilniaus miesto savivaldybės saugomos teritorijos.1
 0                                                 NaN
 1                Vilniaus pilių kultūrinis rezervatas
 2                                                 NaN
 3   Pavilnių regioninis parkas • Verkių regioninis...
 4                                                 NaN
 5   Dvarčionių geomorfologinis • Griovių geomorfol...
 6                                                 NaN
 7   Aukštagirio geomorfologinis • Cedrono aukštupi...
 8                                                 NaN
 9   Plikakalnio atodanga • Pūčkorių atodanga • Šeš...
 10                                                NaN
 11              Aukštųjų Panerių geležinkelio tunelis
 12                                                NaN
 13  Antakalnio parko kedrinė pušis • Aštuonių klev...            ,
              0                 1            2
 0          NaN       54° 49′ 20″          NaN
 1  25° 01′ 40″  Vilniaus miestas  25° 28′ 50″
 2          NaN               NaN          NaN
 3          NaN  Vilniaus miestas          NaN
 4          NaN               NaN          NaN
 5          NaN       54° 34′ 00″          NaN,
     0                 1   2
 0 NaN               NaN NaN
 1 NaN  Vilniaus miestas NaN
 2 NaN               NaN NaN,
                              0  \
 0                          NaN
 1  2001 m. gyventojų surašymas
 2          2009 m. gyvenvietės
 3  2011 m. gyventojų surašymas
 4          2016 m. gyvenvietės
 5         2020 m. suskirstymas
 6  2021 m. gyventojų surašymas

                                                  1
 0  Vilniaus miesto savivaldybės istoriniai sąrašai
 1                      2001 m. gyventojų surašymas
 2                              2009 m. gyvenvietės
 3                      2011 m. gyventojų surašymas
 4                              2016 m. gyvenvietės
 5                             2020 m. suskirstymas
 6                      2021 m. gyventojų surašymas  ,
    Savivaldybės istorija                            \
                    Metai Plotas, km² Gyventojų sk.
 0                1942 m.         NaN       146 300
 1                1949 m.       139.0           NaN
 2                1957 m.         NaN           NaN
 3                1959 m.       142.0       230 769
 4                1967 m.       153.0       316 400
 5                1970 m.       265.0       372 100
 6                1972 m.       262.0           NaN
 7                1976 m.       263.0       445 900
 8                1979 m.         NaN       475 825
 9                1988 m.       287.0       577 000
 10               1989 m.       287.0       576 747
 11               1999 m.       401.0       588 400
 12    2001 m. (Išsamiau)       401.0       553 904

                                             \
                               Suskirstymas
 0                                      NaN
 1   5 miesto rajonai (11 miesto apylinkių)
 2                         4 miesto rajonai
 3                         4 miesto rajonai
 4                                      NaN
 5                         4 miesto rajonai
 6                         4 miesto rajonai
 7                                      NaN
 8                         4 miesto rajonai
 9                         4 miesto rajonai
 10                                     NaN
 11                                     NaN
 12                            21 seniūnija


                                  Gyvenvietės
 0                                        NaN
 1                                        NaN
 2                                        NaN
 3                        1 miestas (Vilnius)
 4                                        NaN
 5                                  1 miestas
 6                                  1 miestas
 7                                  1 miestas
 8                                  1 miestas
 9                                  1 miestas
 10                                 1 miestas
 11                                       NaN
 12  2 miestai (Grigiškės, Vilnius), 3 kaimai  ,
                                            0  \
 0  Demografinė raida tarp 1959 m. ir 2021 m.
 1                                1959 m.sur.
 2                                    230 769
 3                                    2019 m.
 4                                    552 131
 5             Demografinės raidos histograma
 6             Demografinės raidos histograma
 7                                        NaN

                                            1  \
 0  Demografinė raida tarp 1959 m. ir 2021 m.
 1                                1970 m.sur.
 2                                    372 100
 3                             2021 m.sur.[2]
 4                                    556 490
 5             Demografinės raidos histograma
 6                                        NaN
 7                                        NaN

                                            2  \
 0  Demografinė raida tarp 1959 m. ir 2021 m.
 1                                1979 m.sur.
 2                                    475 825
 3                                          -
 4                                          -
 5             Demografinės raidos histograma
 6                                        NaN
 7                                        NaN

                                            3  \
 0  Demografinė raida tarp 1959 m. ir 2021 m.
 1                                1989 m.sur.
 2                                    576 747
 3                                          -
 4                                          -
 5             Demografinės raidos histograma
 6                                        NaN
 7                                        NaN

                                            4  \
 0  Demografinė raida tarp 1959 m. ir 2021 m.
 1                                2001 m.sur.
 2                                    553 904
 3                                          -
 4                                          -
 5             Demografinės raidos histograma
 6                                        NaN
 7                                        NaN

                                            5  \
 0  Demografinė raida tarp 1959 m. ir 2021 m.
 1                                    2005 m.
 2                                    560 190
 3                                          -
 4                                          -
 5             Demografinės raidos histograma
 6                                        NaN
 7                                        NaN

                                            6
 0  Demografinė raida tarp 1959 m. ir 2021 m.
 1                                2011 m.sur.
 2                                    538 968
 3                                          -
 4                                          -
 5             Demografinės raidos histograma
 6                                        NaN
 7                                        NaN  ,
 Empty DataFrame
 Columns: [Demografinės raidos histograma]
 Index: [],
     Numeris                     Seniūnija     Plotas  Gyventojai (2020 m.)[1]
 0       1.0              Verkių seniūnija  55,65 km²                    50688
 1       2.0          Antakalnio seniūnija   77,2 km²                    40637
 2       3.0          Pašilaičių seniūnija    8,2 km²                    40823
 3       4.0        Fabijoniškių seniūnija    4,1 km²                    38237
 4       5.0            Pilaitės seniūnija   13,8 km²                    27725
 5       6.0         Justiniškių seniūnija   2,98 km²                    26818
 6       7.0         Viršuliškių seniūnija    2,5 km²                    14153
 7       8.0            Šeškinės seniūnija    4,4 km²                    29885
 8       9.0           Šnipiškių seniūnija   3,12 km²                    15603
 9      10.0             Žirmūnų seniūnija    8,5 km²                    44079
 10     11.0        Karoliniškių seniūnija    4,0 km²                    25532
 11     12.0             Žvėryno seniūnija    2,7 km²                    13620
 12     13.0           Grigiškių seniūnija    7,1 km²                    11466
 13     14.0             Lazdynų seniūnija   10,3 km²                    32325
 14     15.0           Vilkpėdės seniūnija   10,3 km²                    19720
 15     16.0        Naujamiesčio seniūnija    4,8 km²                    32280
 16     17.0         Senamiesčio seniūnija    4,5 km²                    22000
 17     18.0   Naujosios Vilnios seniūnija   39,3 km²                    38571
 18     19.0             Panerių seniūnija  84,94 km²                    10367
 19     20.0          Naujininkų seniūnija   41,1 km²                    31568
 20     21.0                Rasų seniūnija   12,7 km²                    11592
 21      NaN  Nedeklaravę gyvenamos vietos        NaN                     8936,
                                                    0  \
 0  Almata, Kazachija  Astana, Kazachija  Briuseli...

                                                    1  \
 0  Erfurtas, Vokietija  Gdanskas, Lenkija  Guangd...

                                                    2  \
 0  Madisonas, JAV  Minskas, Baltarusija  Olborgas...

                                                    3
 0  Stokholmas, Švedija  Strasbūras, Prancūzija  T...  ,
                               Unnamed: 0  \
 0                                    NaN
 1                                   2018
 2            Bendros valstybės paslaugos
 3                                 Gynyba
 4   Viešoji tvarka ir visuomenės apsauga
 5                              Ekonomika
 6                       Aplinkos apsauga
 7             Būstas ir komunalinis ūkis
 8                      Sveikatos apsauga
 9           Poilsis, kultūra ir religija
 10                             Švietimas
 11                     Socialinė apsauga
 12   Finansinio turto įsigijimo išlaidos
 13                              Iš viso:

    Savivaldybių biudžetų išlaidos tūkst. EUR[4]  \
 0                                           NaN
 1                                          2019
 2                                      68 863,6
 3                                          2121
 4                                       2 291,5
 5                                      42 232,1
 6                                      37 201,0
 7                                      74 410,2
 8                                      10 332,8
 9                                      22 314,5
 10                                    287 404,2
 11                                     63 697,6
 12                                           00
 13                                    608 959,6

    Savivaldybių biudžetų išlaidos tūkst. EUR[4].1
 0                                             NaN
 1                                             NaN
 2                                        52 206,7
 3                                            1688
 4                                         2 719,1
 5                                        58 094,6
 6                                        42 331,2
 7                                        77 406,8
 8                                        15 268,8
 9                                        22 904,7
 10                                      324 714,5
 11                                       64 796,4
 12                                           5901
 13                                      661 201,7  ,
                                            Unnamed: 0  \
 0                                                 NaN
 1                                                2018
 2                                           Mokesčiai
 3                           Gyventojų pajamų mokestis
 4                                     Turto mokesčiai
 5                        Prekių ir paslaugų mokesčiai
 6                                           Dotacijos
 7                Lėšos pagal tarpusavio atsiskaitymus
 8                                       Kitos pajamos
 9   Sandoriai dėl materialiojo ir nematerialiojo t...
 10                                       Viso pajamų:

    Savivaldybių biudžetų pajamos tūkst. EUR[5]  \
 0                                          NaN
 1                                         2019
 2                                    337 133,5
 3                                    295 265,4
 4                                     40 527,3
 5                                      1 340,8
 6                                    202 933,3
 7                                            −
 8                                     56 652,6
 9                                      7 075,9
 10                                   603 795,3

    Savivaldybių biudžetų pajamos tūkst. EUR[5].1
 0                                            NaN
 1                                            NaN
 2                                      358 667,0
 3                                      314 283,1
 4                                        2 719,1
 5                                        1 348,4
 6                                      221 896,0
 7                                              −
 8                                       69 536,4
 9                                       10 213,8
 10                                     660 313,2  ,
                                                     0  \
 0   Ž • A • RLietuvos administracinis suskirstymas...
 1   Ž • A • RLietuvos administracinis suskirstymas...
 2                                                 NaN
 3                                   Alytaus apskritis
 4                                                 NaN
 5                                     Kauno apskritis
 6                                                 NaN
 7                                 Klaipėdos apskritis
 8                                                 NaN
 9                              Marijampolės apskritis
 10                                                NaN
 11                                Panevėžio apskritis
 12                                                NaN
 13                                  Šiaulių apskritis
 14                                                NaN
 15                                 Tauragės apskritis
 16                                                NaN
 17                                   Telšių apskritis
 18                                                NaN
 19                                   Utenos apskritis
 20                                                NaN
 21                                 Vilniaus apskritis

                                                     1  \
 0                                                 NaN
 1   Ž • A • RLietuvos administracinis suskirstymas...
 2                                                 NaN
 3   · Alytaus miesto savivaldybė · Alytaus rajono ...
 4                                                 NaN
 5   · Birštono savivaldybė · Jonavos rajono saviva...
 6                                                 NaN
 7   · Klaipėdos miesto savivaldybė · Klaipėdos raj...
 8                                                 NaN
 9   · Kalvarijos savivaldybė · Kazlų Rūdos savival...
 10                                                NaN
 11  · Biržų rajono savivaldybė · Kupiškio rajono s...
 12                                                NaN
 13  · Akmenės rajono savivaldybė · Joniškio rajono...
 14                                                NaN
 15  · Jurbarko rajono savivaldybė · Pagėgių saviva...
 16                                                NaN
 17  · Mažeikių rajono savivaldybė · Plungės rajono...
 18                                                NaN
 19  · Anykščių rajono savivaldybė · Ignalinos rajo...
 20                                                NaN

In [20]:
type(vilnius)

list

In [21]:
type(vilnius[3])

pandas.core.frame.DataFrame

In [28]:
vilnius[6]

   Savivaldybės istorija                            \
                   Metai Plotas, km² Gyventojų sk.
0                1942 m.         NaN       146 300
1                1949 m.       139.0           NaN
2                1957 m.         NaN           NaN
3                1959 m.       142.0       230 769
4                1967 m.       153.0       316 400
5                1970 m.       265.0       372 100
6                1972 m.       262.0           NaN
7                1976 m.       263.0       445 900
8                1979 m.         NaN       475 825
9                1988 m.       287.0       577 000
10               1989 m.       287.0       576 747
11               1999 m.       401.0       588 400
12    2001 m. (Išsamiau)       401.0       553 904

                                            \
                              Suskirstymas
0                                      NaN
1   5 miesto rajonai (11 miesto apylinkių)
2                         4 miesto rajonai
3                         4 miesto rajonai
4                                      NaN
5                         4 miesto rajonai
6                         4 miesto rajonai
7                                      NaN
8                         4 miesto rajonai
9                         4 miesto rajonai
10                                     NaN
11                                     NaN
12                            21 seniūnija


                                 Gyvenvietės
0                                        NaN
1                                        NaN
2                                        NaN
3                        1 miestas (Vilnius)
4                                        NaN
5                                  1 miestas
6                                  1 miestas
7                                  1 miestas
8                                  1 miestas
9                                  1 miestas
10                                 1 miestas
11                                       NaN
12  2 miestai (Grigiškės, Vilnius), 3 kaimai

In [30]:
from sqlalchemy import create_engine
engine = create_engine('sqlite:///duomenys.db')
istorija = vilnius[6]
istorija.to_sql('istorija', con=engine, index=False)

13

In [31]:
nauja_istorija = pd.read_sql('istorija', con=engine)
nauja_istorija

,"('Savivaldybės istorija', 'Metai')","('Savivaldybės istorija', 'Plotas, km²')","('Savivaldybės istorija', 'Gyventojų sk.')","('Savivaldybės istorija', 'Suskirstymas')","('Savivaldybės istorija', 'Gyvenvietės')"
0,1942 m.,NaN,146 300,None,None
1,1949 m.,139.0,None,5 miesto rajonai (11 miesto apylinkių),None
2,1957 m.,NaN,None,4 miesto rajonai,None
3,1959 m.,142.0,230 769,4 miesto rajonai,1 miestas (Vilnius)
4,1967 m.,153.0,316 400,None,None
5,1970 m.,265.0,372 100,4 miesto rajonai,1 miestas
6,1972 m.,262.0,None,4 miesto rajonai,1 miestas
7,1976 m.,263.0,445 900,None,1 miestas
8,1979 m.,NaN,475 825,4 miesto rajonai,1 miestas
9,1988 m.,287.0,577 000,4 miesto rajonai,1 miestas
10,1989 m.,287.0,576 747,None,1 miestas
11,1999 m.,401.0,588 400,None,None
12,2001 m. (Išsamiau),401.0,553 904,21 seniūnija,"2 miestai (Grigiškės, Vilnius), 3 kaimai"