# map()

In [1]:
sarasas = [4, 3, 2, 1]
naujas_sarasas = []
for skaicius in sarasas:
    naujas_sarasas.append(skaicius ** 2)

naujas_sarasas

[16, 9, 4, 1]

In [4]:
naujas = list(map(lambda skaicius: skaicius ** 2, sarasas))
naujas

[16, 9, 4, 1]

In [14]:
import numpy as np
masyvas = np.array(sarasas)
trecias = map(lambda skaicius: skaicius ** 2, masyvas)
# for skaicius in trecias:
#     print(skaicius)
list(trecias)

[16, 9, 4, 1]

In [16]:
data = "2022-02-22"
metai, menuo, diena = map(int, data.split('-'))
(metai - diena) * menuo

4000

In [25]:
def veiksmai(skaicius):
    try:
        skaicius = float(skaicius)
    except:
        skaicius = float("inf")
    return skaicius / 2 * 3

stringas = "5571a3x7"
skaitmenys_kvadratu = map(veiksmai, stringas)
list(skaitmenys_kvadratu)

[7.5, 7.5, 10.5, 1.5, inf, 4.5, inf, 10.5]

# filter()

In [27]:
sarasas
lyginiai = []
for skaicius in sarasas:
    if skaicius % 2 == 0:
        lyginiai.append(skaicius)
lyginiai

[4, 2]

In [30]:
pirmas, antras = filter(lambda skaicius: skaicius % 2 == 0, sarasas)
pirmas, antras

(4, 2)

In [32]:
from calendar import isleap
metai = np.arange(1900, 2105, 4)
keliamieji = filter(isleap, metai)
list(keliamieji)

[1904,
 1908,
 1912,
 1916,
 1920,
 1924,
 1928,
 1932,
 1936,
 1940,
 1944,
 1948,
 1952,
 1956,
 1960,
 1964,
 1968,
 1972,
 1976,
 1980,
 1984,
 1988,
 1992,
 1996,
 2000,
 2004,
 2008,
 2012,
 2016,
 2020,
 2024,
 2028,
 2032,
 2036,
 2040,
 2044,
 2048,
 2052,
 2056,
 2060,
 2064,
 2068,
 2072,
 2076,
 2080,
 2084,
 2088,
 2092,
 2096,
 2104]

# reduce()

In [37]:
from functools import reduce
sarasas
suma = reduce(lambda dedamoji, skaicius: dedamoji * skaicius, sarasas)
suma

24

# list comprehension
#### sąrašo apibrėžimas

In [54]:
saraselis = [5, 3, -1, 7, -6, 0, 1, 4]
daugiau_uz_2 = [skaicius for skaicius in saraselis if skaicius > 2]
daugiau_uz_2

[5, 3, 7, 4]

In [44]:
lyginiai = [skaicius for skaicius in saraselis if skaicius % 2 == 0]
lyginiai

[-6, 0, 4]

In [46]:
kvadratai = (skaicius ** 2 for skaicius in saraselis)
list(kvadratai)

[25, 9, 1, 49, 36, 0, 1, 16]

In [50]:
kreivi_duomenys = (100, -5, 17, "kibiras", 33, "stikline", -145.0)
suma = sum(skaicius for skaicius in kreivi_duomenys if type(skaicius) is int or type(skaicius) is float)
suma

0.0

# sort() ir sorted()

In [53]:
saraselis.sort()
saraselis

[-6, -1, 0, 1, 3, 4, 5, 7]

In [60]:
isrusiuotas = sorted(saraselis)
isrusiuotas, saraselis

([-6, -1, 0, 1, 3, 4, 5, 7], [5, 3, -1, 7, -6, 0, 1, 4])

In [63]:
atbulai = sorted(saraselis, reverse=True)
atbulai

[7, 5, 4, 3, 1, 0, -1, -6]

In [65]:
tupliux = (7, 88, 9, -77, 42, 23, 77)
pertupliuotas = sorted(tupliux)
pertupliuotas

[-77, 7, 9, 23, 42, 77, 88]

In [72]:
zodynas = {"Vardas": "Kestutis", "Pavarde": "Januskev...", "Amzius": "Dar jaunas"}
pagerintas = sorted(zodynas)
pagerintas
[zodynas[raktas] for raktas in pagerintas]

['Dar jaunas', 'Januskev...', 'Kestutis']

In [74]:
pagal_reiksme = sorted(zodynas.items(), key=lambda item: item[1])
dict(pagal_reiksme)

{'Amzius': 'Dar jaunas', 'Pavarde': 'Januskev...', 'Vardas': 'Kestutis'}

In [76]:
sorted(saraselis, key=abs)

[0, -1, 1, 3, 4, 5, -6, 7]

In [123]:
class Darbuotojas:
    def __init__(self, vardas, pavarde, atlyginimas = 0):
        self.vardas = vardas
        self.pavarde = pavarde
        self.atlyginimas = atlyginimas

    def __repr__(self):
        return f'{self.pavarde} gauna {self.atlyginimas:d} EURu'
    
    def __str__(self):
        return f'{self.vardas} {self.pavarde} uzdirba {self.atlyginimas:d} €'


d1 = Darbuotojas("Kestutis", "Januskevicius", 5000)
d2 = Darbuotojas("Geras", "Pythonistas", 10000)
d3 = Darbuotojas("Zinomas", "Tuberis", 25000)
d4 = Darbuotojas("Lietuvos", "Prezidentas", 17000)
darbuotojai = [d3, d2, d1, d4, "Bedarbis"]

def rusiavimas_pagal_varda(betkas):
    if isinstance(betkas, Darbuotojas):
        return betkas.vardas
    return betkas

# def rusiavimas_pagal_atlyginima(darbuotojo_klase):
#     return darbuotojo_klase.atlyginimas

surusiuoti = sorted(darbuotojai, key=rusiavimas_pagal_varda)
surusiuoti

['Bedarbis',
 Pythonistas gauna 10000 EURu,
 Januskevicius gauna 5000 EURu,
 Prezidentas gauna 17000 EURu,
 Tuberis gauna 25000 EURu]

In [124]:
darbuotojai = [d3, d2, d1, d4] # {'vardas': 'Bedarbis', 'atlyginimas': 0} # negalima
surusiuoti = sorted(darbuotojai, key=lambda darbuotojas: darbuotojas.atlyginimas)
surusiuoti

[Januskevicius gauna 5000 EURu,
 Pythonistas gauna 10000 EURu,
 Prezidentas gauna 17000 EURu,
 Tuberis gauna 25000 EURu]

In [128]:
darbuotojai = [d3, d2, d1, d4] # {'vardas': 'Bedarbis', 'atlyginimas': 0} # negalima
from operator import attrgetter
surusiuoti = sorted(darbuotojai, key=attrgetter("pavarde"))
[str(darbuotojas) for darbuotojas in surusiuoti]

['Kestutis Januskevicius uzdirba 5000 €',
 'Lietuvos Prezidentas uzdirba 17000 €',
 'Geras Pythonistas uzdirba 10000 €',
 'Zinomas Tuberis uzdirba 25000 €']